## Deliverable 2. Create a Customer Travel Destinations Map.

In [36]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import gmaps_api_key

# Configure gmaps API key
gmaps.configure(api_key=gmaps_api_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Celestun,MX,20.87,-90.40,77.25,85,100,1.41,overcast clouds
1,1,Turan,VN,16.07,108.22,95.00,50,40,2.24,scattered clouds
2,2,Maragogi,BR,-9.01,-35.22,71.44,82,100,3.31,overcast clouds
3,3,Ishigaki,JP,24.34,124.16,87.80,84,75,18.34,broken clouds
4,4,Albany,US,42.60,-73.97,69.01,91,54,1.39,light rain

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input(prompt="Enter your minimum temperature."))
max_temp = float(input(prompt="Enter your maximum temperature."))

Enter your minimum temperature.65
Enter your maximum temperature.80

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
perfect_temp_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
perfect_temp_df.head()

,City ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Celestun,MX,20.87,-90.40,77.25,85,100,1.41,overcast clouds
2,2,Maragogi,BR,-9.01,-35.22,71.44,82,100,3.31,overcast clouds
4,4,Albany,US,42.60,-73.97,69.01,91,54,1.39,light rain
6,6,Ribeira Grande,PT,38.52,-28.70,73.02,89,2,14.07,clear sky
9,9,Beidao,CN,34.57,105.89,76.62,50,0,2.01,clear sky

In [17]:
# 4a. Determine if there are any empty rows.
perfect_temp_df.isnull().sum()

City ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#perfect_temp_clean = perfect_temp_df.dropna()
#perfect_temp_clean.count()

City ID                234
City                   234
Country                234
Lat                    234
Lng                    234
Max Temp               234
Humidity               234
Cloudiness             234
Wind Speed             234
Current Description    234
dtype: int64

In [28]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = perfect_temp_clean[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Celestun,MX,77.25,overcast clouds,20.87,-90.40,
2,Maragogi,BR,71.44,overcast clouds,-9.01,-35.22,
4,Albany,US,69.01,light rain,42.60,-73.97,
6,Ribeira Grande,PT,73.02,clear sky,38.52,-28.70,
9,Beidao,CN,76.62,clear sky,34.57,105.89,
10,San Quintin,MX,74.91,clear sky,30.48,-115.95,
16,Saint-Pierre,RE,72.00,few clouds,-21.34,55.48,
17,Barcelona,ES,77.00,broken clouds,41.39,2.16,
18,Gat,IL,77.00,clear sky,31.61,34.76,
20,Rikitea,PF,71.49,light rain,-23.12,-134.97,

In [37]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_api_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"            
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
        hotel_df.loc[index, "Hotel Name"] = np.nan
hotel_df.head()

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Celestun,MX,77.25,overcast clouds,20.87,-90.40,Posada Lilia
2,Maragogi,BR,71.44,overcast clouds,-9.01,-35.22,Salinas do Maragogi All Inclusive Resort
4,Albany,US,69.01,light rain,42.60,-73.97,NaN
6,Ribeira Grande,PT,73.02,clear sky,38.52,-28.70,Quinta da Meia Eira
9,Beidao,CN,76.62,clear sky,34.57,105.89,Shell Tianshui Maiji District Erma Road Walkin...

In [38]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Celestun,MX,77.25,overcast clouds,20.87,-90.40,Posada Lilia
2,Maragogi,BR,71.44,overcast clouds,-9.01,-35.22,Salinas do Maragogi All Inclusive Resort
6,Ribeira Grande,PT,73.02,clear sky,38.52,-28.70,Quinta da Meia Eira
9,Beidao,CN,76.62,clear sky,34.57,105.89,Shell Tianshui Maiji District Erma Road Walkin...
10,San Quintin,MX,74.91,clear sky,30.48,-115.95,Old Mill Hotel

In [41]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))